@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
@keyframes slide {
  from {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
  }
  to {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
  }
}

.marquee::after {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, #c90000 100%);
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  padding-left: 0;
  animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
}
.Marquee img {
  cursor: pointer;
  transition: all ease 500ms;
  -webkit-transition: all ease 500ms;
  -moz-transition: all ease 500ms;
  -ms-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  &:hover {
    transform: translateY(-16px);
    -webkit-transform: translateY(-16px);
    -moz-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    -o-transform: translateY(-16px);
    rotate: -15deg;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }

  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.marquee-content span {
  padding-right: 24px; /* Tambahkan padding kanan yang besar untuk menghindari gap */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
.border-retro {
  @apply border-t-2 border-l-2 border-b-4 border-r-4 border-black;
}
.border-retro-org {
  @apply border-t-2 border-l-2 border-b-4 border-r-4;
}
.border-retro-sm {
  @apply border-t-[1px] border-l-[1px] border-b-2 border-r-2;
}
.accordion-title {
  @apply text-[20px] hover:no-underline;
}

@layer utilities {
  .init-width-max-md\:w-\[400px\] {
    @apply w-[400px];
  }

  @media (min-width: 720px) {
    .init-width\:w-\[600px\] {
      @apply w-[600px];
    }
  }
}

@media (max-width: 768px) {
  .marquee-content {
    margin-left: -28px;
  }
  .marquee-content.code {
    margin-left: -32px;
  }
}

.Marquee {
  img {
    @apply max-sm:w-[32px]
  }
}
.no-scrollbar {
  scrollbar-width: none;
}